<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Style/produtos.css">
</head>

<body>

    <div class="container">
        <div class="contain-fund-prod">
            <div class="tit-pag">
                <h1>PRODUTOS</h1>
            </div>
            <div class="produt">
                <div class="card-prod">
                    <div class="img-card">
                        <img src="../img/DogCatLogo.png" alt="">
                    </div>
                    <div class="tit-card">
                        <p>TITULOTITULOTITULOTITULOTITULOTITULOTITULOTITULO</p>
                    </div>
                    <div class="estrelas">

                        <img src="../img/estrelaCheia.png" alt="">
                        <img src="../img/estrelaCheia.png" alt="">
                        <img src="../img/estrelaCheia.png" alt="">
                        <img src="../img/estrelaCheia.png" alt="">
                        <img src="../img/estrelaVazia.png" alt="">
                        <p>(20)</p>
                    </div>
                    <div class="preco-card">
                        <h3>R$19,99</h3>
                    </div>
                    <div class="desc-card">
                        <h5>De:</h5>
                        <h4>R$ 29,99 </h4>
                    </div>
                    <div class="btn-card">
                        <input type="button" value="Adicionar ao Carrinho">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-carrinho">
        <div class="fund-carrinho">
            <div class="tit-carrin">
                <h1>Carrinho de compras</h1>
            </div>

            <div class="itens-carrinho">
                <div class="img-carrin">
                    <img src="" alt="">
                </div>
                <div class="tit-carrin-prod">
                    <h2>TituloTituloTitulo</h2>
                </div>
                <div class="preco-carrin">
                    <h2>R$19,99</h2>
                </div>
                <div class="add-prod-carrin">
                    <img src="" alt="menos">
                    <input type="number">
                    <img src="" alt="mais">
                </div>
                <div class="prod-total">
                    <h1>PRECO TOTAL</h1>
                </div>
                <div class="excluir-prod">
                    <img src="" alt="Deletar">
                </div>
            </div>

            <div class="btn-comprar">
                <input type="submit" value="Comprar">
            </div>
        </div>
    </div>

</body>

</html>